.nav {
    padding: 20px 0px;
}

@media (min-width:992px){
    .nav{
        padding: 40px 0;
    }
}


.nav__row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.nav__logo {
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
    color: #000;
}



@media (min-width:992px){

    a.nav__logo{ 
        margin-right: 83px;
    }

}
.nav__logo:hover{
    color: #F72464;
}

/*.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-grow: 1;
    display: none;
}*/
.nav__list{
     /* display: none;  */
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    bottom: 0;
    width: 260px;
    color: #000;
    z-index: 9;
    background-color: #000;
    /* transform: translateX(-0%); */
}

@media (min-width:992px){
    .nav__list{
        display: flex;
        position: static;
        color: #000;
        width: auto;
        background-color: transparent;
        transform: none;
    }
}

.nav__list-holder{
     display: none; 
    position: absolute;
    margin-left: 40px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    transition: opacity 0.2s ease-in ;
}
.nav__list-holder--visible{
    display: block; 
    /* opacity: 1; */
}

@media (min-width:992px){
    .nav__list-holder{
        opacity: 1;
        display: block;
        position: static;
        background-color: transparent;
    }
}



.nav__item {
    font-size: 18px;
    display: block;
    padding: 15px 15px;
}

@media (min-width:992px){
    .nav__item{
        margin-right: 30px;
        padding: 0;
    }
    .nav__item a{
        color: #000;
    }

}
.nav__item:last-child{
    margin-right: 0;
}

.nav__link {
    text-decoration: none;
    color: #fff;
    /* color: #000; */
}

@media (min-width:992px){
   
}
.nav__link:hover{
    color: #F72464;
}
.nav__cart{
    margin-left: auto;
    margin-right: 15px;
}

@media (min-width:992px){
    .nav__cart{
        margin-right: 0;
    }
}
.nav__cart-link{
    position: relative;
    display: inline-block;
    padding: 5px;  
}
.nav__cart-number{
    position: absolute;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #F72464;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
